{% load cms_tags staticfiles %}
<footer id="footer" class='clearfix' {% if not instance.transparent_bg %} style="background-image: url({{instance.background_img.url}})"{% endif %}>
  <div class='container-fluid'>
    <div class='footer-left'>
        <ul class='services'>
          <li><a href='#'>services</a></li>
          <li><a href='#'>Software Engineering</a></li>
          <li><a href='#'>Cloud computing</a></li>
          <li><a href='#'>web development</a></li>
          <li><a href='#'>mobile development</a></li>
          <li><a href='#'>network security</a></li>
        </ul>
        <ul class='industry'>
          <li><a href='#'>industries</a></li>
          <li><a href='#'>finane & banking</a></li>
          <li><a href='#'>education</a></li>
          <li><a href='#'>oil & gas</a></li>
          <li><a href='#'>retail & commerce</a></li>
        </ul>
        <ul class='industry'>
          <li><a href='#'>&nbsp;</a></li>
          <li><a href='#'>media & entertainment</a></li>
          <li><a href='#'>logistic & transit</a></li>
          <li><a href='#'>public sector & government</a></li>
          <li><a href='#'>healthcare & lifescience</a></li>
        </ul>

        <ul class='consulting'>
          <li><a href='#'>consulting</a></li>
          <li><a href='#'>overview</a></li>
          <li><a href='#'>Software Consultancy</a></li>
          <li><a href='#'>IT Strategy & Infrastructure</a></li>
        </ul>
    </div>
    <div class='footer-right'>
        <ul>
            <li><a href='/blogs'>blogs</a></li>
            <li><a href='/contact-us'>contact us</a></li>
            <li><a href='/careers'>careers</a></li>
            <li><a href='/company'>company</a></li>
        </ul>
    </div>
  </div>
  <div class='container-fluid clearfix'>
    <div class='fsl clearfix'>
      <a href='/' class='clearfix'>
        <img src="{{ instance.logo_img.url }}" />
      </a>
    </div>
    <div class='fsr'>
      <a class='btn btn-subscribe'>subscribe &nbsp;&nbsp;&gt;</a>
    </div>
  </div>
  <div class='container-fluid' id='copyright'>
    <div class='cpr'>© 2017 - Hadron S.A | All Rights Reserved</div>
    <div class='smedia'>
      <ul>
        <li><a href='#'><i class='fa fa-facebook'></i></a></li>
        <li><a href='#'><i class='fa fa-twitter'></i></a>
        <li><a href='#'><i class='fa fa-linkedin'></i></a>
        <li><a href='#'><i class='fa fa-google-plus'></i></a>
      </li>
    </div>
  </div>

</footer>
