html, body {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
    background-color: #F9F9F9;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
    /*font-family: 'Raleway', sans-serif;*/
    /*font-family: 'Crete Round', serif;*/
    /*font-family: 'Josefin Slab', serif;*/
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-family: 'Rajdhani', sans-serif;*/
    font-family: 'Electrolize', sans-serif;
}

.btn-default {
    background-color: transparent;
}

.container {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
    position: relative;
}

.clearfix {
	clear: both;
}

.page-banner {
	width: 100%;
	max-height: 500px;
	position: relative;
	overflow: hidden;
	z-index: 0;
	margin-bottom: 20px;
}

.page-banner img {
	width: 100%;
	height: auto;
	z-index: 1;
}

.page-banner video {
	width: 100% !important;
}

.banner-title {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	z-index: 5;
	color: white;
	background: black;
	font-size: 5em;
	text-transform: uppercase;
	text-align: center;
}

.banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background: black;
	opacity: 0.2;
}

.raleway {
	font-family: 'Raleway', sans-serif;
}

.category-group {
	text-align: center;
	width: 100%;
}

.category-group .list-group-item {
	display: inline-block;
}

.btn-category {
	border: 1px solid gray;
	margin: 0 5px;
	padding: 2px 10px !important;
	border-radius: 5px;
	text-decoration: none;
    color: black;
}

.category-list {
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px 0;
}

.btn-category:hover,
.btn-category.active {
	background: #0A6DA4;
	color: white;
}




#job-detail-container {
    color: #3d464d;
    margin-top: 40px;
    padding-bottom: 40px;
    font-size: 16px;
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.job-detail-sidebar,
.job-detail-content {
    vertical-align: top;
    display: inline-block;
}

.job-detail-sidebar {
    margin-top: 20px;
    margin-right: 3%;
    width: 24%;
}

.job-detail-content {
    width: 72%;
}

.job-detail-sidebar a {
    clear: left;
    display: inline-block;
    float: left;
    margin-bottom: 10px;
    color: #0A6DA4;
    text-decoration: none;
    cursor: pointer;
}

.job-detail-sidebar a:hover {
    text-decoration: underline;
}

/*
Footer
*/
footer {
    min-height: 100px;
    width: calc(100% - 100px);
    padding: 20px 50px;
}

footer a {
	text-decoration: none;
}

#footer {
	position: relative;
	/*background-image: url(../images/footer-bg.jpg);*/
	background-size: cover;
	border-top: 0px solid rgba(0,0,0,0.2);
}

.footer-left,
.footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-left {
    width: 79%;
}

.footer-right {
    width: 20%;
}

.footer-right ul {
    width: 100%;
}

.footer-right ul li {
    width: 100%;
    display: block;
    height: 30px;
}

.footer-right li a {
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 1;
}

.footer-right li:hover a {
    opacity: .8;
}

.footer-left ul {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    list-style: none;
}

.footer-left ul li a {
    text-transform: capitalize;
    color: white;
    opacity: .8;
    font-weight: lighter;
}

.footer-left ul li:hover a {
    text-transform: capitalize;
    color: white;
    opacity: 1;
}

.footer-left ul li:first-child a {
    text-transform: uppercase;
    color: white;
    opacity: 1;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-left ul li:first-child:hover a {
    text-transform: uppercase;
    opacity: .8;
}

.fsl, .fsr {
    display: inline-block;
    width: 49%;
    position: relative;
}

.fsl {
    text-align: right;
}

.fsl img {
    width: 300px;
    height: auto;
}

.btn-subscribe {
    border: 2px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin-left: 50px;
}

.btn-subscribe:hover {
    border-color: white;
    color: white;
}


#copyright {
    height: 30px;
    width: 100%;
    margin-top: 20px;
    padding: 0;

}

.cpr,  .smedia {
    display: inline-block;
    line-height: 30px;
    font-weight: lighter;
    vertical-align: top;
}

.cpr {
    color: white;
    width: calc(100% - 150px);
}


.smedia {
    text-align: right;
    width: 140px;
}

.smedia ul {
    height: 30px;
    list-style: none;
    margin: 0;
}

.smedia ul li {
    height: 30px;
    width: 30px;
    margin-right: 0;
    display: inline-block;
    position: relative;
}

.smedia ul li:last-child {
    margin-right: 0;
}

.smedia ul li a {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    color: gray;
}

@media (max-width: 1080px) {
    footer {
        zoom: 90%;
    }
}

@media (max-width: 960px) {
    footer#footer {
        zoom: 80%;
        /*padding: 10px !important;*/
    }

    .footer-left ul.industry:nth-child(3) {
        margin-right: 20px;
    }
}

@media (max-width: 823px) {
    footer#footer {
        zoom: 100%;
        padding: 10px;
        width: calc(100% - 20px);
    }

    .footer-left {
        width: 100%;

    }

    .footer-left ul:first-child {
        width: 100%;
        display: block;
    }

    .footer-left ul.industry {
        width: calc(49% - 45px);
        margin-right: 0 !important;
    }

    .footer-left ul.consulting {
        width: 100%;
    }

    .footer-right {
        width: 100%;
        display: block;
    }

    .fsl {
        display: none;
    }

    .fsr {
        width: 100%;
        text-align: center;
    }

    .fsr a.btn-subscribe {
        margin-left: 0;
    }

    .cpr {
        font-size: 12px;
    }
}


#header {
    margin: 0;
    padding: 10px 50px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

#header .main-logo,
#header .header-wrapper {
    display: inline-block;
    vertical-align: top;
}

.main-logo {
    width: 200px;
}

.header-wrapper {
    width: calc(100% - 220px);
}

.main-logo img {
    width: 100%;
    height: auto;
}

.language-row {
    width: 100%;
    height: 30px;
    display: block;
    text-align: right;
}

.language-row ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.language-row ul li {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    height: 25px;
    color: white;
}

.language-row ul li.header-search {
    position: relative;
    width: 25px;
    border: 1px solid gray;
    border-radius: 20px;
    overflow: hidden;
    margin-left: 10px;
    -webkit-transition: width .25s ease;
       -moz-transition: width .25s ease;
        -ms-transition: width .25s ease;
         -o-transition: width .25s ease;
            transition: width .25s ease;
}

.language-row ul li.header-search.active {
    width: 200px;
}

.language-row ul li.header-search input {
    height: 25px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 25px 0 15px;
    outline: none;
    line-height: 25px;
    border: none;
    color: gray;
    font-size: 12px;
}

.header-search i {
    position: absolute;
    top: 3px;
    right: 5px;
    color: black;
}

.language-select {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
}

.language-select ul {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 0;
    height: 50px;
    background: white;
    padding-right: 10px;
    padding-left: 10px;
}

.language-select:hover ul {
    display: block;
}

.language-select:hover {
    background: white;
}

.language-select ul li {
    width: 100%;
    height: 25px;
    display: block;
    cursor: pointer;
    text-align: left;
    color: gray;
}

.language-select ul li:hover {
    color: black;
}

.nav-wrapper {
    width: 100%;
    text-align: right;
    min-height: 40px;
}

.nav-wrapper ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 40px;
}

.nav-wrapper ul li {
    line-height: 40px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
}

.nav-wrapper ul a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
    padding: 5px;
    line-height: 30px;
}

ul.nav li.child {
    vertical-align: middle;
}

ul.nav li.child .search {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 20px;
}

ul.nav li.child .search input {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    width: 200px;
    padding: 0 35px 0 20px;
    line-height: 30px;
    border: none;
    font-weight: lighter;
    font-size: 12px;
    outline: none;
}

ul.nav li.child .search i {
    position: absolute;
    right: 7px;
    top: 7px;
    font-size: 16px;
    color: black;
}

li.sm-search {
    display: none !important;
}

#header.sticky li.sm-search {
    display: inline-block !important;
}

#header.sticky li.sm-search .search input{
    background: black !important;
    color: white !important;
}

#header.sticky li.sm-search .search i {
    color: white;
}

/*
    Sticky header
*/

#header.sticky {
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 0 50px;
}
#header.sticky .language-row {
    display: none;
}

#header.sticky a {
    color: black;
}

#header.sticky .header-wrapper {
    width: calc(100% - 220px);
    margin-top: 10px;
}

#header.sticky .main-logo {
    padding-top: 5px;
    height: 100%;
}

#header.sticky .main-logo img{
    height: 100%;
    width: auto;
}

.nav-toggler {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 50px;
    top: 10px;
    text-align: center;
    cursor: pointer;
    display: none;
}

.menu-line-1,
.menu-line-2,
.menu-line-3,
.menu-line-4 {
    display: block;
    border-top: 2px solid black;
    width: 30px;
    margin: 8px auto;

}

.menu-line-2 {
    margin-bottom: 0;
    border-top-width: 1px;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.menu-line-3 {
    margin-top: 0;
    border-top-width: 1px;
    color: red;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.nav-toggler:hover .menu-line-1,
.nav-toggler:hover .menu-line-4 {
    visibility: hidden;
}

.menu-line-2,
.menu-line-3 {
    transform-origin: center;
}

.nav-toggler:hover .menu-line-2 {
    border-top-width: 2px;
    -webkit-transform: rotate(42deg) translate(1px);
       -moz-transform: rotate(42deg) translate(1px);
        -ms-transform: rotate(42deg) translate(1px);
         -o-transform: rotate(42deg) translate(1px);
            transform: rotate(42deg) translate(1px);
}

.nav-toggler:hover .menu-line-3 {
    border-top-width: 2px;
    -webkit-transform: rotate(-40deg) translate(1px);
       -moz-transform: rotate(-40deg) translate(1px);
        -ms-transform: rotate(-40deg) translate(1px);
         -o-transform: rotate(-40deg) translate(1px);
            transform: rotate(-40deg) translate(1px);
}

#header.sticky .nav-toggler {
    display: block;
    visibility: hidden;
}

/*.nav-toggler:hover .menu-line:nth-child(2) {
    visibility: hidden;
}

.nav-toggler:hover .menu-line:first-child {
    border-color: green;
    transform-origin: top left;
    -webkit-transform: rotate(42deg);
       -moz-transform: rotate(42deg);
        -ms-transform: rotate(42deg);
         -o-transform: rotate(42deg);
            transform: rotate(42deg);
}

.nav-toggler:hover .menu-line:last-child {
    border-color: green;
    transform-origin: bottom left;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}*/


@media screen and (max-width: 970px) {
    #header.sticky .nav-toggler {
        display: block;
        visibility: visible;
    }
    ul.nav {
        width: 100%;
        display: none;
        background: white;
        color: black;
        position: absolute;
        left: 0;
        top: 50px;
        text-align: left;
        padding-left: 20px;
        z-index: 90000;
    }

    .nav-wrapper ul a {
        color: black;
    }
    .nav-toggler {
        display: block;
    }

    .nav-wrapper ul li {
        display: block;
        color: black;
    }
    .nav.active {
        display: block;
    }
}