{% load staticfiles i18n cms_tags sekizai_tags forms_builder_tags fontawesome menu_tags %}
<!doctype html>
<html lang='en'>
    <head>
        <title>{% block title %}This is my new project home page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Crete+Round:400,400i|Electrolize|Josefin+Slab:100,100i,300,300i,400,400i,600,600i,700,700i|Rajdhani:300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--{% fontawesome_stylesheet %} -->
        <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
 
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        {% render_block "css" %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
        
    </head>
    <body>
        {% cms_toolbar %}
        
            <div id='header'>
                <div class='main-logo'>
                    <a href='/'>
                        <img class='img-responsive' src="{% static 'images/logos/logo.png' %}" />
                    </a>
                </div>
                <div class='header-wrapper'>
                    <div class='language-row'>
                        <ul>
                            <li class='language-select'>
                                English <i class='fa fa-caret-down'></i>
                                <ul>
                                    <li>English</li>
                                    <li>Francais</li>
                                </ul>
                            </li>
                            <li class='header-search'>
                                <form name='cse' id="searchbox" action="javascript:HandleSearch()">
                                    <input id='q' placeholder="Search on Hadron S.A..." />
                                    <i class='fa fa-search'></i>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class='nav-wrapper'>
                        <div class='nav-toggler'>
                            <span class='menu-line-1'></span>
                            <span class='menu-line-2'></span>
                            <span class='menu-line-3'></span>
                            <span class='menu-line-4'></span>
                        </div>
                        <ul class="nav active">
                            {% show_menu 0 100 100 100 %}
                            <li class='child sibling sm-search'>
                                <form name='cse' id="searchbox" action="javascript:HandleSearch()">
                                    <div class='search'>
                                        <input id='q' name='q' placeholder="Search on Hadron S.A..." />
                                        <i class='fa fa-search'></i>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% block content %}{% endblock content %}
        
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% render_block "js" %}
        <script>
            function HandleSearch() {
                var search_params = $('input#q').val();
                var results_url = '/searchresults?q=' + search_params
                window.location.href = results_url;
            }
        </script>
    </body>
</html>
