{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='home-feature-container-{{ instance.id }}'>
	<h1 class='container-title-{{ instance.id }}'>{{ instance.title }}</h1>
	<h4 class='container-slogan-{{ instance.id }}'>{{ instance.slogan }}</h4>
	<span class='container-line-{{ instance.id }}'></span>
	<section class='child-container-{{ instance.id }}'>
		{% for child in instance.child_plugin_instances %}
			{% render_plugin child %}
		{% endfor %}
		<div class='clearfix'></div>
	</section>
</div>

{% addtoblock 'css' %}
<style type="text/css">
	.home-feature-container-{{ instance.id }} {
		width: 100%;
		min-height: 200px;
		background-color: {{ instance.background_color }};
		padding-top: 50px;
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
	}

	.container-title-{{ instance.id }},
	.container-slogan-{{ instance.id }},
	.container-line-{{ instance.id }} {
		text-align: center;
	}

	.container-title-{{ instance.id }} {
		text-transform: uppercase;
		margin: 0;
		font-weight: 700;
		color: {{ instance.title_color }};
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
	}

	.container-slogan-{{ instance.id }} {
		margin-top: 5px;
		font-weight: bolder;
		font-style: italic;
		color: {{ instance.slogan_color }};
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
	}

	.container-line-{{ instance.id }} {
		width: 50px;
		border-top-width: 50px;
		margin: 0 auto;
		margin-top: 10px;
		border-top: 2px solid {{ instance.line_color }};
		display: block;
	}

	.child-container-{{ instance.id }} {
		width: 100%;
		max-width: 900px;
		display: block;
		margin: 20px auto;
		zoom: 100%;
		-webkit-transition: zoom .5s ease;
		   -moz-transition: zoom .5s ease;
		    -ms-transition: zoom .5s ease;
		     -o-transition: zoom .5s ease;
		        transition: zoom .5s ease;
	}

	@media screen and (max-width: 899px) {
		.child-container-{{ instance.id }} {
			zoom: 80%;
			-webkit-transition: zoom .5s ease;
		       -moz-transition: zoom .5s ease;
		        -ms-transition: zoom .5s ease;
		         -o-transition: zoom .5s ease;
		            transition: zoom .5s ease;
		}
	}

	@media screen and (max-width: 725px) {
		.child-container-{{ instance.id }} {
			zoom: 100%;
		}
	}

</style>
{% endaddtoblock %}

{% addtoblock 'js' %}

{% endaddtoblock %}