{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='home-feature-box'>
	<figure class="front">
		<img src="{{ instance.icon.url }}" />
	</figure>
    <figure class="back">
    	<span class='back-content'>
    		<p>{{ instance.description }}</p>
    		<a class='btn btn-default f-read-more' href='#'>read more</a>
    	</span>
    </figure>

</div>

{% addtoblock 'css' %}
<style type="text/css">
	.home-feature-box {
		display: inline-table;
		width: calc(33.33% - 4px);
		height: 200px;
		margin: 0;
		position: relative;
		transform-style: preserve-3d;
		transform-origin: center;
		-webkit-transition: transform .5s ease;
		   -moz-transition: transform .5s ease;
		    -ms-transition: transform .5s ease;
		     -o-transition: transform .5s ease;
		        transition: transform .5s ease;
	}

	.home-feature-box figure {
		position: absolute;
		top: 0;
		left: 10px;
		width: calc(100% - 20px);
		height: 100%;
		margin: 0;
	}

	figure img {
		width: 100%;
		height: auto;
		vertical-align: middle;
	}

	figure.back {
		background-color: #0695AB;
		color: white;
		font-weight: 100;
		-webkit-transform: rotateY(180deg);
		   -moz-transform: rotateY(180deg);
		    -ms-transform: rotateY(180deg);
		     -o-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}

	figure.back, 
	figure.front {
		backface-visibility: hidden;
	}

	figure.front {
		background-color: #F9F9F9;
	}

	.back p {
		padding: 0 10px;
		text-align: center;
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
	}

	.back a {
		position: absolute;
		bottom: 10px;
		display: block;
		padding: 5px 10px;
		text-transform: uppercase;
		text-decoration: none;
		color: white;
		border: 2px solid white;
		font-weight: 100;
		left: 50%;
		transform: translateX(-50%);
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
		opacity: 0.8;
		-moz-opacity: 0.8;
		filter:alpha(opacity=8);
		-webkit-transition: opacity .5s ease;
		   -moz-transition: opacity .5s ease;
		    -ms-transition: opacity .5s ease;
		     -o-transition: opacity .5s ease;
		        transition: opacity .5s ease;
	}

	.back a:hover {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
		-webkit-transition: opacity .5s ease;
		   -moz-transition: opacity .5s ease;
		    -ms-transition: opacity .5s ease;
		     -o-transition: opacity .5s ease;
		        transition: opacity .5s ease;
	}

	@media screen and (min-width: 551px) {
		.home-feature-box:hover {
			-webkit-transform:  rotateY(-180deg);
			   -moz-transform:  rotateY(-180deg);
			    -ms-transform:  rotateY(-180deg);
			     -o-transform:  rotateY(-180deg);
			        transform:  rotateY(-180deg);
		}
	}

	@media screen and (max-width: 725px) {
		.home-feature-box {
			width: 49.5%;
		}
	}

	@media screen and (max-width: 550px) {
		.home-feature-box {
			width: 100%;
		}

		.home-feature-box figure {
			width: 300px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

</style>	

{% endaddtoblock %}

{% addtoblock 'js' %}
	<!-- <script type="text/javascript">
		$('.home-feature-box').hover(function(elm) {
			$(this).addClass('flipped');
		}, function(elm){
			$(this).removeClass('flipped');
		});
	</script> -->
{% endaddtoblock %}