{% load cms_tags staticfiles sekizai_tags %}
<div class='item-overview-{{ instance.id }}'>
	<div class='item-overview-title-{{instance.id}}'>
		{{ instance.title }}
	</div>

	<p class="item-overview-content-{{ instance.id }}">
		{{ instance.overview }}
	</p>
</div>

{% addtoblock "css" %}
<style type="text/css">
	.item-overview-{{ instance.id }} {
		margin-bottom: 20px;
		padding: 0 20px;
	}

	.item-overview-title-{{instance.id}} {
		color: {{ instance.title_color }};
		text-transform: capitalize;
		border-left: 5px solid {{ instance.title_color }};
		display: block;
		padding-left: 10px;
		font-size: 20px;
		font-weight: bolder;
		margin-bottom: 10px;
	}

	.item-overview-content-{{instance.id}} {
		text-align: justify;
	}

</style>

{% endaddtoblock %}