{% load cms_tags staticfiles sekizai_tags %}
<div class='industry-list-container'>
	<h1 class='industry-list-container-title-{{instance.id}}'>{{ instance.title }}</h1>
	<h5 class='industry-list-container-slogan-{{instance.id}}'>{{ instance.slogan }}</h5>
	{% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
    <div class='industry-bg-container'></div>
    <div class='clearfix'></div>
</div>

{% block css %}
	<style type="text/css" media="screen">
		.industry-list-container {
			width: 100%;
			margin: 0;
			padding: 0;
			position: relative;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			/*font-family: 'Raleway', sans-serif;*/
			/*font-family: 'Crete Round', serif;*/
			/*font-family: 'Josefin Slab', serif;*/
			/*font-family: 'Cormorant Garamond', serif;*/
			/*font-family: 'Rajdhani', sans-serif;*/
			font-family: 'Electrolize', sans-serif;
		}

		.industry-list-container-title-{{ instance.id }} {
			color: {{ instance.title_color }};
			text-align: center;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.industry-list-container-slogan-{{ instance.id }} {
			color: {{ instance.slogan_color }};
			text-align: center;
			margin-top: 5px;
			font-style: italic;
		}

		.industry-bg-container {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
		}

		@media screen and (max-width: 685px) {
			.services-list {
				zoom: 80%;
			}

		}

		@media screen and (max-width: 530px) {
			.services-list {
				zoom: 100%;
			}

		}
	</style>
{% endblock %}