{% load staticfiles sekizai_tags %}
<div class='industry-wrapper' style='background-image: url({{ instance.background_img.url }})' image='{{ instance.background_img.url }}'>
	<span class='industry-name'>
		<span>{{ instance.name }}</span>
	</span>
</div>

{% addtoblock "css" %}
	<style type="text/css" media="screen">
		.industry-wrapper {
			float: left;
			width: 25%;
			vertical-align: top;
			padding: 0;
			margin: 0;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			position: relative;
			cursor: pointer;
			/*-webkit-transition: visibility .25s cubic-bezier(.17,.67,.83,.67);
			   -moz-transition: visibility .25s cubic-bezier(.17,.67,.83,.67);
			    -ms-transition: visibility .25s cubic-bezier(.17,.67,.83,.67);
			     -o-transition: visibility .25s cubic-bezier(.17,.67,.83,.67);
			        transition: visibility .25s cubic-bezier(.17,.67,.83,.67);*/
		}

		.industry-wrapper img {
			width: 100%;
			height: auto;
		}

		.industry-wrapper:hover .industry-name {
			visibility: visible;
		}

		.industry-name {
			position: absolute;
			width: 100%;
			height: 100%;
			background: black;
			opacity: .5;
			color: white;
			text-transform: uppercase;
			text-align: center;
			vertical-align: middle;
			visibility: hidden;
			transition: visibility 50ms ease;
		}

		.industry-name span {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 2.5vw;
			transform: translate(-50%, -50%);
		}

		@media only screen and (max-width: 930px) {
			.industry-wrapper {
				width: 50%;
			}

			.industry-name span {
				font-size: 5vw;
			}
		}
	</style>
{% endaddtoblock %}

{% addtoblock 'js' %}
	<script type="text/javascript">
		function initPluging() {
			$('.industry-wrapper').each(function(index, elm) {
				var width = $(elm).width();
				$(elm).css('height', width + 'px');
			});
		}

		function animateIndustryList() {
			$('.industry-wrapper').hover(function(elm){
				var img = $(elm.target).attr('image');
				$('.industry-list-container').css('background-image', "url('" + img + "')");
				$('.industry-wrapper').each(function(index, industry){

					if (industry !== elm.target) {
						$(industry).css('visibility', 'hidden');
						$(industry).css('z-index', -1);

					}
				}); 
			}, function() {
				$('.industry-wrapper').css('visibility', 'visible');
				$('.industry-wrapper').css('z-index', 2);
			});
		}

		initPluging();
		// activate the animation
		// animateIndustryList();

		$(window).resize(function() {
			initPluging();
		});
	</script>
{% endaddtoblock %}