{% load cms_tags staticfiles sekizai_tags poll_extras %}
<div class='search-result'>
	<div class='result-container'>
		<div class='result-tags-container'>
			<div class='result-title'>
				Search results for:<br> <span class='search-input'>{{ results.search_params }}</span>
			</div>
		</div>
		<div class='result-items-container'>
			{% if results.items %}
				{% for item in results.items %}
					<div class='result-item'>
						<a href='{{item.link}}'>{{ item.title }}</a>
						<p class='result-item-intro'>{{ item.htmlSnippet|cut:"\n"|cut:"<br>"|safe }}</p>
						<span class='result-link'><small>{{item.link}}</small></span>
					</div>
				{% endfor %}
			{% else %}
				<div class='no-results'>
					<p>{{ results.default }}</p>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% addtoblock "css" %}
<style type="text/css">
	.search-result {
		width: 100%;
		padding: 50px;
	}

	.result-container {
		max-width: 1080px;
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.result-tags-container {
		width: 250px;
		float: left;
	}

	.result-items-container {
		width: calc(100% - 270px);
		float: right;
	}
	.result-item {
		width: 100%;
		display: block;
		margin-bottom: 20px;
		border-bottom: 1px dashed gray;
	}

	.result-item-intro b {
		font-weight: bold;
	}

	.result-title {
		text-align: left;
	}

	.result-title span {
		font-weight: bolder;
	}

	.result-item a {
		font-size: 120%;
		font-weight: bolder;
		display: block;
		cursor: pointer;
		text-decoration: underline;
	}

	.result-link {
		font-weight: 900;
		font-style: italic;
	}
</style>
{% endaddtoblock %}