{% load staticfiles sekizai_tags %}
<div class='service-item-wrapper-{{ instance.id }}'>
	<div class='service-item'>
		{% if instance.has_icon %}
		<img class='service-icon' src="{{ instance.icon.url }}"	class='img-responsive' />
		{% endif %}
		<div class='service-item-details'>
			<div class='service-item-name'>{{ instance.name }}</div>
			<div class='service-item-overview'>{{ instance.overview }}</div>
			{% if instance.show_button %}
			<div class='service-item-btn-container'>
				<a class='btn btn-default service-item-btn' url='{{ instance.button_url }}'>
					{{ instance.button_label }}
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>

{% addtoblock "css" %}
	<style type="text/css">
		.service-item-wrapper-{{ instance.id }} * {
			-webkit-transition: all .4s ease;
			   -moz-transition: all .4s ease;
			    -ms-transition: all .4s ease;
			     -o-transition: all .4s ease;
			        transition: all .4s ease;
		}

		.service-item-wrapper-{{ instance.id }} {
			width: calc(50% - 2px);
			height: 200px;
			display: inline-table;
			margin-bottom: 0;
		}
		.service-item {
<<<<<<< HEAD
			width: calc(100% - 4px);
			height: 100%;
			padding: 10px 10px 10px 120px;
=======
			width: calc(100% - 25px);
			padding: 0 25px 0 100px;
>>>>>>> b45ca6f4341a547b1f488563844f520486a2034c
			position: relative;
		}

		.service-item img {
			float: {{ instance.icon_position }};
			width: 100px;
			height: 100px;
			position: absolute;
			left: 0;
		}

		.service-item-name {
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bolder;
			height: 40px;
		}

		.service-item-overview {
			color: gray;
			text-align: justify;
			margin-bottom: 5px;
			height: 80px;
		}

		.service-item-btn-container {
			height: 50px;
			display: block;
			text-align: {{ instance.button_position }};
			margin-top: 10px;
		}

		.service-item-btn-container a {
			padding: 5px 10px;
			height: 40px;
			display: block;
			line-height: 30px;
			float: {{ instance.button_position }};
			text-transform: uppercase;
			text-align: center;
			background: {{ instance.button_bg_color }};
			color: {{ instance.button_label_color }};
		}

		@media screen and (max-width: 900px) {
			.service-item-wrapper-{{ instance.id }} {
				zoom: 90%;
			}

		}

		@media screen and (max-width: 768px) {
			.service-item-wrapper-{{ instance.id }} {
				zoom: 100%;
			}

			.service-item {
				width: calc(100% - 4px);
				height: 100%;
				padding: 110px 10px 10px 10px;
				position: relative;
			}

			.service-item img {
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}

			.service-item-name {
				text-align: center;
			}

			.service-item-overview {
				text-align: center;
			}

		}

		@media screen and (max-width: 668px) {
			.service-item-wrapper-{{ instance.id }} {
				display: block;
				width: 100%;
				height: auto;
				border-bottom: 1px solid #ddd;
			}
		}
		

	</style>

{% endaddtoblock %}