{% load cms_tags staticfiles sekizai_tags %}
<div class='services-list'>
	{% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
    <div class='clearfix'></div>
</div>

{% addtoblock "css" %}
	<style type="text/css">
		.services-list {
			width: 100%;
			margin: 0 auto;
			padding: 0 20px;
			position: relative;
			max-width: 1050px;
		}

	</style>

{% endaddtoblock %}