{% load forms_builder_tags %}
<div id='job-detail-container' class='clearfix'>
	<div class='job-detail-sidebar'>
		{% for category in categories %}
			<a href='/careers?type={{category.name}}'>{{category.name}}</a>
		{% endfor %}
	</div>
	<div class='job-detail-content'>
		{% if position %}
			{{ position.description }}
			{% render_built_form form %}
		{% else %}
			<small>Sorry this position is not available for the moment.</small>
		{% endif %}
		
	</div>
</div>
<script type="text/javascript">
	function initForm() {
		$('form p input:required').each(function(index, elm) {
			$(elm).parent().find('label').attr('req', 'required');
		});

		$('form p input[type="file"]').each(function(index, elm) {
			$(elm).parent().addClass('inputfile');
			$(elm).parent().append('<span class="custom-input"><i class="fa fa-upload"></i>&nbsp;&nbsp; Choose a file...</span>');
			$(elm).hide();
		});

		$('form p span.custom-input').click(function(elm) {
			$(elm.target).parent().find('input').trigger('click');
		});

		var inputs = document.querySelectorAll( '.inputfile input' );
		Array.prototype.forEach.call( inputs, function( input )
		{
			var $label	 = $(input).parent().find('span.custom-input')[0];
			var labelVal = $label.innerHTML;

			input.addEventListener( 'change', function( e )
			{
				var fileName = '';
				if( this.files && this.files.length > 1 )
					fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
				else
					fileName = e.target.value.split( '\\' ).pop();

				if( fileName )
					$label.innerHTML = fileName;
				else
					$label.innerHTML = labelVal;
			});
		});
	}

	

	$(document).ready(initForm);
</script>