{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='job-list-container'>
	<div class='category-list'>
		{% for category in categories %}
			<a class='btn btn-category' onclick="showJobList(this);" title="{{ category.name }}">{{ category.name }}</a>
		{% endfor %}
	</div>
	<div class='position-list-wrapper'>
		{% for position in positions %}
			{% if position.category.name != 'All' %}
				<div class='job-category hide' title="{{ position.category.name }}">
					<div class='job-category-title'>{{position.category.name}}</div>
				 	<div class='position-list'>
				 		{% if position.positions %}
					 		{% for job in position.positions %}
					 			<div class='job'>
					 				<a href="/careers/job-descriptions?id={{ job.id }}">
					 					{{ job.title }}
					 				</a>
					 			</div>
					 		{% endfor %}
					 	{% else %}
					 		<span><small>No position available</small>
					 	{% endif %}
				 	</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% addtoblock 'css' %}
<style type="text/css">
	.job-list-container {
		max-width: 900px;
		width: 100%;
		min-height: 200px;
		margin: 0 auto;
	}

	.position-list-wrapper {
		margin-top: 20px;
		width: 100%;
	}

	.job-category {
		display: inline-block;
		width: 33%;
		min-height: 200px;
		vertical-align: top;
	}

	.job-category-title {
		font-weight: bolder;
		font-size: 120%;
		display: block;
		height: auto;
		width: 100%;
	}

	.position-list {
		width: 100%;
		text-align: left;
		display: block;
	}
</style>
{% endaddtoblock %}


<script type="text/javascript">
	var $grid = $('.position-list-wrapper').masonry({
	  // options
	  itemSelector: '.job-category',
	  percentPosition: true
	});
	function showJobList(elm) {
		$('.category-list a').removeClass('active');
		if (typeof(elm) === 'string'){
			$('.category-list a[title="' + elm + '"]').addClass('active');

			console.log('Showing', elm);
			console.log($('.position-list-wrapper .job-category'))
			$('.position-list-wrapper .job-category').removeClass('hide');
			
		} else {
			$(elm).addClass('active');
			var id = $(elm).get(0).innerHTML;
			console.log('Showing', id);
			if (id === 'All') {
				$('.position-list-wrapper .job-category').removeClass('hide');
			} else {
				$('.position-list-wrapper .job-category').each(function(index, div) {
					if(div.title === id){
						$(div).removeClass('hide');
					} else {
						$(div).addClass('hide');
					}
				});
			}
		}
		$grid.masonry('layout');
	}

	function loaded() {
		showJobList('All');
	}

	$(document).ready(loaded());

	
</script>