{% load staticfiles cms_tags mathfilters %}
<div class='banner-display-{{ instance.id }}'>
    {% if instance.show_title %}
        <div class='banner-display-title-container-{{ instance.id }}'>
            <h1 class='banner-display-title-{{ instance.id }}'>{{ instance.title }}</h1>
        </div>
    {% endif %}
    <span class='text'>{{instance.text}}</span>
    {% if instance.has_arrow %}
        <span class='arrow-{{ instance.id }} {{ instance.arrow_direction }}'></span>
    {% endif %}

    {% if instance.show_button %}
        <div class='banner-display-btn-{{ instance.id }}'>
            <a class='btn btn-default btn-banner-display-{{ instance.id }}' href='{{ instance.button_url }}'>
                {{ instance.button_label }}
            </a>
        </div>
    {% endif %}
    {% for child in instance.child_plugin_instances %}
        {% render_plugin child %}
    {% endfor %}
    <div class='clearfix'></div>
</div>

{% block css %}
    <style type="text/css" media="screen">
        .banner-display-{{ instance.id }} {
            width: 100%;
            padding: 20px 0;
            height: {% if instance.height == -1 %}auto{% else %} {{instance.height}}px{% endif %};
            display: block;
            background-color: {{instance.background_color}};
            position: relative;
            {% if instance.show_title %}
            padding: 10px 50px;
            width: calc(100% - 100px);
            {% endif %}
            margin-bottom: {{ instance.margin_bottom }}px;
        }

        .banner-display-title-container-{{ instance.id }} {
            display: block;
            max-width: 1100px;
            margin: 0 auto;
            text-align: {{ instance.title_position }};
        }

        .banner-display-title-{{ instance.id }} {
            color: {{ instance.title_color }};
            text-transform: uppercase;
        }

        .banner-display-{{ instance.id }} span.text {
            display: block;
            text-align: justify;
            margin: auto;
            {% if not instance.show_title %}
            line-height: {% if instance.height == -1 %}100{% else %}{{instance.height}}{% endif %}px;
            {% else %}
            font-size: 150%;
            color: white;
            max-width: 1050px;
            line-height: 30px;
            {% endif %}
        }

        span.arrow-{{ instance.id }} {
            position: absolute;
            width: {% if instance.height == -1 %}50{% else %}{{instance.height|div:2}}{% endif %}px;
            height: {% if instance.height == -1 %}50{% else %}{{instance.height|div:2}}{% endif %}px;
            transform: rotateZ(45deg);
            -moz-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            -webkit-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            background: {{instance.background_color}};
            z-index: 1;
        }

        .up {
            top: {% if instance.height == -1 %}50{% else %}{{instance.height|div:4|mul:-1}}{% endif %}px;
            left: 50%;
            margin-left: -25px;
        }

        .down {
            bottom: {% if instance.height == -1 %}50{% else %}{{instance.height|div:4|mul:-1}}{% endif %}px;
            left: 50%;
            margin-left: -25px;
        }

        .banner-display-btn-{{ instance.id }} {
            max-width: 1050px;
            height: 50px;
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: {{ instance.button_position }};
        }

        .banner-display-btn-{{ instance.id }} a {
            height: 30px !important;
            padding: 5px 10px;
            display: inline-block;
            background: {{ instance.button_bg_color }};
            color: {{ instance.button_label_color }};
            text-decoration: none;
            text-transform: uppercase;
            line-height: 30px;
        }

        .banner-display-btn-{{ instance.id }} a:hover {
            background-color: {{ instance.button_bg_hover_color }};
        }

    </style>
{% endblock %}