<div class='page-banner'>
	{% if instance.video_bg %}
		<video playsinline autoplay muted loop>
		    <source src="{{ instance.video.url }}" type="video/webm">
		    <source src="{{ instance.video.url }}" type="video/mp4">
		</video>
	{% else %}
		<img src='{{instance.image.url}}' />
	{% endif %}
	<div class='banner-overlay'>
		<span class='banner-title'>{{instance.title}}</span>
	</div>
</div>