{% load staticfiles cms_tags menu_tags %}
{% csrf_token %}
<header id="header" class="transparent-header {{header_color}}">
    <div class='header-wrapper clearfix'>
        <div class='standard-logo'>
            <a href="/" data-dark-logo="{% static 'images/logos/logo_static.png' %}">
                <img src="{% if header_color == 'white' %}{% static 'images/logos/hadron-light.png' %}{% else %}{% static 'images/logos/hadron-dark.png' %}{% endif %}" alt="Hadron Logo" class='non-sticky-logo  standard-position'>
                <img id="stickyimg" src="{% static 'images/logos/logo_static.png' %}" alt="Hadron Logo" class='sticky-logo standard-position'>
            </a>
        </div>
        <div class='standard-nav'>
            <div class='search-row'>
                <ul>
                    <li class='top-language' style="color: {{header_color}};">
                        <!-- Francais&nbsp;<span class='caret'><i class='fa fa-caret'></i></span>&nbsp;&nbsp;
                        <ul>
                            <li><a href='#'>Francais</a></li>
                            <li><a href='#'>Anglais</a></li>
                        </ul> -->
                        {% language_chooser "menu/language_chooser.html" %}
                    </li>

                    <li>
                        <div id='search-bar'>
                            <input type='text' id='q' placeholder="Search Hadron ..." style="line-height: inherit;" />
                            <i class='icon-search' style='top: 0'></i>
                        </div>
                    </li>
                </ul>

            </div>
            <div class='nav-row'>
                <nav id='main-nav'>
                    <ul>
                        <li class='search-link'>
                            <input type='text' id='q' style="line-height: inherit;" placeholder="Search Hadron ..." />
                            <i class='icon-search' style='color: white'></i>
                        </li>

                        <!-- <li class='language'>
                            FR<span class='caret'><i class='fa fa-caret'></i></span>
                            <ul>
                                <li><a href='#'>FR</a></li>
                                <li><a href='#'>EN</a></li>
                            </ul>
                        </li> -->
                        {% language_chooser "menu/sm_language_chooser.html" %}
                        <!-- <li><a href='/careers'>careers</a></li>
                        <li><a href='/'>contact us</a></li>
                        <li><a href='/'>company</a></li>
                        <li><a href='/blogs'>blogs</a></li>
                        <li class='has-dropdown'>
                            <a href='/'>industries</a>
                            <ul>
                                <li><a href='/'>Healthcare & lifescience</a></li>
                                <li><a href='/'>education</a></li>
                                <li><a href='/'>oil & gas</a></li>
                                <li><a href='/'>retail & commerce</a></li>
                                <li><a href='/'>mobile & entertainment</a></li>
                                <li><a href='/'>trasit & logistics</a></li>
                                <li><a href='/'>public sector & goverment</a></li>
                                <li><a href='/'>finance & banking</a></li>
                            </ul>
                        </li>
                        <li class='has-dropdown'>
                            <a href='/'>consulting</a>
                            <ul>
                                <li><a href='/'>overview</a></li>
                                <li><a href='/'>software consulting</a></li>
                                <li><a href='/'>IT Strategy & Infrastructure</a></li>
                            </ul>
                        </li>
                        <li class='has-dropdown'>
                            <a href='/services'>services</a>
                            <ul class='clearfix'>
                                <li><a href='/software-engineering'>software engineering</a></li>
                                <li><a href='/'>cloud computing</a></li>
                                <li><a href='/'>web development</a></li>
                                <li><a href='/'>mobile development</a></li>
                                <li><a href='/'>network & security</a></li>
                            </ul>
                        </li>
                        <li><a href='/'>home</a></li> -->
                        {% show_menu 0 100 100 100 "menu/menu.html" %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

<header id="header-sm">
    <div class='sm-head clearfix'>
        <!-- menu button -->
        <button onclick='toggleMainMenu()'>
            <i class='icon-reorder'></i>
        </button>

        <!-- logo -->
        <a href="/" class='logo-sm' data-dark-logo="{% static 'images/logo-dark.png' %}">
            <img src="{% static 'images/logo.png' %}" alt="Hadron Logo">
        </a>
    </div>
    <ul>
        <span class='nav-sm-padding'></span>
        <li>
            <a href='/'>services</a>
            <ul class='clearfix'>
                <li><a href='/software-engineering'>software engineering</a></li>
                <li><a href='/'>cloud computing</a></li>
                <li><a href='/'>web development</a></li>
                <li><a href='/'>mobile development</a></li>
                <li><a href='/'>network & security</a></li>
            </ul>
        </li>

        <li class='half-width'>
            <a href='/'>industries</a>
            <ul>
                <li><a href='/'>Healthcare & lifescience</a></li>
                <li><a href='/'>education</a></li>
                <li><a href='/'>oil & gas</a></li>
                <li><a href='/'>retail & commerce</a></li>
            </ul>
        </li>
        <li class='half-width no-title'>
            <ul>
                <li><a href='/'>mobile & entertainment</a></li>
                <li><a href='/'>transit & logistics</a></li>
                <li><a href='/'>public sector & goverment</a></li>
                <li><a href='/'>finance & banking</a></li>
            </ul>
        </li>
        <li>
            <a href='/'>consulting</a>
            <ul>
                <li><a href='/'>overview</a></li>
                <li><a href='/'>software consulting</a></li>
                <li><a href='/'>IT Strategy & Infrastructure</a></li>
            </ul>
        </li>
        <li>
            <a href='/'>blogs</a>
        </li>
        <li>
            <a href='/'>company</a>
        </li>
        <li>
            <a href='/'>careers</a>
        </li>


        <li>
            <input type="text" id='q' name="" placeholder="Search Hadron S.A. ..." />
            <i class='icon-search'></i>
        </li>

    </ul>

</header>
