{% load cms_tags staticfiles sekizai_tags mathfilters %}
<a class='btn btn-default btn-group-item-{{ instance.id }}' href='{{ instance.button_url }}'>
	{{ instance.button_label }}
</a>

{% addtoblock 'css' %}
<style type="text/css">
	.btn-group-item-{{ instance.id }} {
		{% if not position %}
		position: absolute;
		{% else %}
		display: inline-block;
		margin-right: 50px;
		{% endif %}
		height: 30px;
		padding: 0 10px;
		top: 8px;
		line-height: 30px;
		border: 2px solid #ffffff;
		text-transform: uppercase;
		color: {{ instance.label_color }};
		{% if instance.button_position == 'left' %}
		left: 0;
		{% elif instance.button_position == 'center' %}
		left: 50%;
		tranform: translateX(-50%);
		{% elif instance.button_position == 'right' %}
		right: 0;
		{% endif %}
		text-decoration: none;
		opacity: .8;
		-webkit-transition: border-color .5s ease;
		   -moz-transition: border-color .5s ease;
		    -ms-transition: border-color .5s ease;
		     -o-transition: border-color .5s ease;
		        transition: border-color .5s ease;
	}

	.btn-group-item-{{ instance.id }}:hover {
		border-color: {{ instance.button_border_color }};
	}

</style>
{% endaddtoblock %}