{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='hadron-button-group-{{ instance.id }}'>
	{% with instance.button_alignment as position %}
		{% for button in instance.child_plugin_instances %}
			{% render_plugin button %}
		{% endfor %}
	{% endwith %}
</div>

{% addtoblock 'css' %}
<style type="text/css">
	.hadron-button-group-{{ instance.id }} {
		height: {{ instance.height }}px;
		max-width: {{ instance.width }};
		width: 100%;
		display: block;
		margin: 0 auto;
		padding: 0 10px;
		position: relative;
		{% if instance.button_alignment %}
		text-align: {{ instance.button_alignment }};
		{% endif %}
	}
</style>
{% endaddtoblock %}