{% load cms_tags staticfiles sekizai_tags mathfilters %}
<div class='parallax-container-{{instance.id}}'>
	<h1 class='parallax-title-{{instance.id}}'>{{ instance.title }}</h1>
	<h5 class='parallax-slogan-{{instance.id}}'>{{ instance.slogan }}</h5>
	<section class='parallax-content-{{instance.id}}'>
		{% for child in instance.child_plugin_instances %}
			{% render_plugin child %}
		{% endfor %}
	</section>
</div>

{% addtoblock 'css' %}
<style type="text/css">
	.parallax-container-{{instance.id}} {
		width: 100%;
		min-height: {{ instance.min_height }};
		background-attachment: fixed;
		background-position: 50% 0;
		background-repeat: no-repeat;
		overflow: hidden;
		background-size: cover;
		padding-top: {{ instance.padding_top }}px;
		padding-bottom: 30px;
		background-image: url({{ instance.background_img.url }});
		/*font-family: 'Raleway', sans-serif;*/
		/*font-family: 'Crete Round', serif;*/
		/*font-family: 'Josefin Slab', serif;*/
		/*font-family: 'Cormorant Garamond', serif;*/
		/*font-family: 'Rajdhani', sans-serif;*/
		font-family: 'Electrolize', sans-serif;
	}

	.parallax-container-{{instance.id}} section {
		max-width: 900px;
		width: 100%;
		margin: 30px auto 30px auto;
		min-height: 200px;
	}

	.parallax-title-{{instance.id}} {
		text-align: center;
		color: {{ instance.title_color }};
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.parallax-slogan-{{instance.id}} {
		text-align: center;
		color: {{ instance.slogan_color }};
		font-style: italic;
		margin-top: 5px;
		font-weight: 700;
	}

	.parallax-container-{{instance.id}} > p {
		width: 100%;
		max-width: 70%;
		padding: 10px;
		text-align: center;
		margin: auto;
		line-height: 30px;
		font-weight: 100;
	}
</style>
{% endaddtoblock %}