{% load staticfiles cms_tags %}
<div class='bow'>
    <h1 class='text-center blog-title'>Blogs</h1>
    <span class='blog-news text-center'>Get important news</span>
    <span class='blog-divider'></span>
    <div class='blog-container clearfix'>
        {% if blogs %}
            {% for blog in blogs %}
                <div class='blog-overview'>
                    <div class='blog-overview-img'>
                        <img src="{{ blog.display_img.url }}" class='img-responsive' />
                    </div>
                    <span class='blog-overview-title'><a href="#">{{ blog.title }}</a></span>
                    <div class='blog-overview-details'>
                        <ul>
                            <li class='bt'>
                                <i class='fa fa-calendar'></i>
                                {{ blog.posted_date | date }}
                            </li>&nbsp;/
                            <li class='ba'>{{ blog.author }}</li>&nbsp;&nbsp;/
                            <li class='bc'>
                                <a href='#comment#{{ blog.id }}'>
                                    <i class='fa fa-comments'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class='blog-overview-actions'>
                        <a class='btn btn-default btn-read-more-blog'>read more</a>
                        {% if blog.has_social %}
                            <span class='blog-social'>
                                <ul>
                                    <li><a href='#facebookshare'><i class='fa fa-facebook'></i></a></li>
                                    <li><a href='#facebookshare'><i class='fa fa-twitter'></i></a></li>
                                    <li><a href='#facebookshare'><i class='fa fa-linkedin'></i></a></li>
                                    <li><a href='#facebookshare'><i class='fa fa-google-plus'></i></a></li>
                                    <li><a href='#facebookshare'><i class='fa fa-envelope'></i></a></li>
                                </ul>
                            </span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p><small>Sorry there is no blogs on the system.</small></p>
        {% endif %}
        <div class='clearfix'></div>
        <a class='btn btn-default btn-read-more-blog btn-cont-blog' href='/blogs'>Continue on the blog</a>
        <div class='clearfix'></div>
    </div>
</div>
{% block css %}
    <style>
        .text-center {
            text-align: center;
        }

        .blog-title {
            margin-bottom: 0;
            text-transform: uppercase;
        }

        .blog-news {
            display: block;
            width: 100%;
            color: #0695ab;
            font-family: 'Crete Round', serif;
            font-style: italic;
            font-weight: bold;
        }

        .blog-divider {
            display: block;
            width: 50px;
            margin: 10px auto;
            border-top: 3px solid black;
        }
        .bow {
            width: 100%;
            padding: 0;
        }

        .blog-container {
            max-width: 1050px;
            width: 100%;
            margin: auto;
            display: block;
            transition: zoom .5s ease;
        }


        .blog-overview {
            float: left;
            width: 300px;
            margin: 25px;
            vertical-align: top;
        }

        .blog-overview .blog-overview-img {
            width: 100%;
            height: 186px;
            display: block;
            clear: both;
            margin-bottom: 10px;
        }

        .blog-overview-img img {
            width: 100%;
            height: auto;
        }

        .blog-overview-title {
            width: 100%;
            display: block;
            font-weight: lighter;
            text-align: center;
            height: 50px;
            text-overflow: ellipsis;
        }

        .blog-overview-title a {
            height: 100%;
            width: 100%;
            display: block;
            color: gray;
            text-decoration: none;
            white-space: wrap;
            overflow: hidden;
            text-transform: uppercase;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
        }

        .blog-overview-title a:hover {
            text-decoration: underline;
        }

        .blog-overview-details {
            display: block;
            width: 100%;
        }

        .blog-overview-details ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 40px;
            text-align: center;
        }

        .blog-overview-details ul li {
            display: inline;
            vertical-align: top;
            color: gray;
            font-size: 15px;
            padding: 0;
            margin: 0;
            height: 40px;
            line-height: 30px;
        }

        .blog-overview-details ul li i {
            color: gray;
        }
        
        .blog-overview-details ul li:hover i.fa-comments {
            color: black;
        }

        .blog-overview-actions {
            display: block;
            width: 100%;
            height: 40px;
        }

        .blog-overview-actions > a,
        .blog-overview-actions ul {
            display: inline-block;
            vertical-align: top;
        }

        .blog-overview-actions > a {
            float: left;
            width: 150px;
        }

        .blog-overview-actions ul {
            margin: 0;
            padding: 0;
            float: right;
            height: 40px;
            list-style: none;
        }

        .blog-overview-actions ul li {
            display: inline-block;
            vertical-align: top;
        }

        .btn-read-more-blog {
            height: 40px;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;
            background: #0695ab;
            color: white;
            font-weight: bolder;
            cursor: pointer;
            transition: all .5s ease;
        }

        .btn-read-more:hover {
            background: black;
        }

        .blog-overview-actions ul li {
            height: 100%;
            line-height: 30px;
            cursor: pointer;
            padding: 0 5px;
        }

         .blog-overview-actions ul li i {
            color: gray;
         }

          .blog-overview-actions ul li:hover i {
            color: black;
         }

        @media only screen and (max-width: 1050px) {
            .blog-container {
                zoom: 90%;
            }
        }


        @media only screen and (max-width: 945px) {
            .blog-container {
                zoom: 80%;
            }
        }

        @media only screen and (max-width: 839px) {
            .blog-container {
                zoom: 70%;
            }
        }

        @media only screen and (max-width: 734px) {
            .blog-container {
                zoom: 100%;
            }
        }

        @media only screen and (max-width: 699px) {
            .blog-container {
                zoom: 90%;
            }
        }

        @media only screen and (max-width: 629px) {
            .blog-container {
                zoom: 80%;
            }
        }

        @media only screen and (max-width: 559px) {
            .blog-container {
                zoom: 70%;
            }
        }

        @media only screen and (max-width: 489px) {
            .blog-container {
                zoom: 100%;
            }

            .blog-overview {
                display: block;
                margin: 50px auto;
                float: none;
            }
        }

        .btn-cont-blog {
            display: block;
            padding: 10px 20px;
            margin-bottom: 50px;
            height: 50px !important;
            width: auto;
            float: right;
            text-decoration: none;
        }

    </style>
{% endblock %}